/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,500;1,700;1,900&display=swap');


/* reset css  */

*{
    padding : 0 ;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    max-width: 1400px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

/* start code  */

.container-fluid{
    width: 95%;
    margin: auto;
}

.title{
    color: #31A5AC;
}

/* btn desing ============================== */

 .btn-custom{
     background-color: #0A4973;
     color: white;
     border: 2px solid transparent;
     padding: 6px 20px;
     
}
.btn-custom:hover{
    background-color: transparent;
    border: 2px solid #0A4973;
    color: #0A4973;
}
/* calculate section  */

.calculation_part{
    background-color: #eeeded;
    padding: 30px;
    border-radius: 10px;
    
}

.calculateForm{
    width: 80%;
    margin: auto;
}

.calculateForm input,
input{
    background-color: #DCDCDC;
    padding: 8px  10px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    font-weight: 700;
}

h2,h3,h4{
    color: #0A4973;
}
label{
    color: #0A4973;
}

h3 span
,h4 span{
    font-weight: 700;
}
.cover_image{
    height: 800px;
}
/* Error Maasnge styles  ==================== */
.error{
    color: #ff3860;
}
.inputControl.success input{
    border-color: #09c372 ;
}
.inputControl.error input{
    border-color: #ff3860 ;
}